.container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0px auto;
  text-align: center;
}

.group {
  display: flex;
  justify-content: space-around;
}

.button-group {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
}

.range-input {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-device-width: 500px) {
  .button-group {
    flex-direction: column;
    align-items: center;
  }
}

/* General button style */
button {
  border: none;
  font-size: inherit;
  color: inherit;
  background: #34495e;
  cursor: pointer;
  padding: 25px 60px;
  display: inline-block;
  margin: 5px 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  min-width: 220px;
}

button:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

button:hover {
  background: #2c3e50;
}

button:active {
  top: 4px;
}

#green button {
  background: #2ecc71;
}

#green button:hover {
  background: #27ae60;
}

#blue button {
  background: #3498db;
}

#blue button:hover {
  background: #2980b9;
}

#red button {
  background: #e74c3c;
}

#red button:hover {
  background: #c0392b;
}

#magenta button {
  background: #cc2f8b;
}

#magenta button:hover {
  background: #b72c7d;
}

#yellow button {
  background: #ffec14;
  color: #444444;
}

#yellow button:hover {
  background: #edda12;
}

#cyan button {
  background: #3cd7e8;
  color: #444444;
}

#cyan button:hover {
  background: #2ab0bf;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #272727;
    color: #e6e6e6;
  }

  button {
    color: black !important;
    background-color: #b9c9d8;
  }

  button:hover {
    background-color: #93acc3;
  }
}
