<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Change Lights</title>

    <link
      href="{{ url_for('static', filename='styles.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h2>Preset Colors</h2>
      <div class="button-group">
        <form method="POST" action="/color" id="red">
          <input type="hidden" id="r" name="r" value="255" />
          <input type="hidden" id="g" name="g" value="0" />
          <input type="hidden" id="b" name="b" value="0" />
          <button type="submit">Red</button>
        </form>
        <form method="POST" action="/color" id="green">
          <input type="hidden" id="r" name="r" value="0" />
          <input type="hidden" id="g" name="g" value="255" />
          <input type="hidden" id="b" name="b" value="0" />
          <button type="submit">Green</button>
        </form>
        <form method="POST" action="/color" id="blue">
          <input type="hidden" id="r" name="r" value="0" />
          <input type="hidden" id="g" name="g" value="0" />
          <input type="hidden" id="b" name="b" value="255" />
          <button type="submit">Blue</button>
        </form>
        <form method="POST" action="/color" id="magenta">
          <input type="hidden" id="r" name="r" value="255" />
          <input type="hidden" id="g" name="g" value="0" />
          <input type="hidden" id="b" name="b" value="100" />
          <button type="submit">Magenta</button>
        </form>
        <form method="POST" action="/color" id="cyan">
          <input type="hidden" id="r" name="r" value="0" />
          <input type="hidden" id="g" name="g" value="255" />
          <input type="hidden" id="b" name="b" value="255" />
          <button type="submit">Cyan</button>
        </form>
        <form method="POST" action="/color" id="yellow">
          <input type="hidden" id="r" name="r" value="255" />
          <input type="hidden" id="g" name="g" value="150" />
          <input type="hidden" id="b" name="b" value="0" />
          <button type="submit">Yellow</button>
        </form>
        <form method="POST" action="/color" id="off">
          <input type="hidden" id="r" name="r" value="0" />
          <input type="hidden" id="g" name="g" value="0" />
          <input type="hidden" id="b" name="b" value="0" />
          <button type="submit" value="Off">Off</button>
        </form>
      </div>
      <h2>Custom Colors</h2>
      <div class="group">
        <form method="POST" action="/color" id="color">
          <div class="range-input">
            <label for="r">Red</label>
            <input type="range" id="r" name="r" value="255" min="0" max="255" />
          </div>
          <div class="range-input">
            <label for="g">Green</label>
            <input type="range" id="g" name="g" value="255" min="0" max="255" />
          </div>
          <div class="range-input">
            <label for="b">Blue</label>
            <input type="range" id="b" name="b" value="255" min="0" max="255" />
          </div>
          <div class="button-group">
            <button type="submit">Submit</button>
            <button type="reset">Reset</button>
          </div>
        </form>
      </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
